<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex align-items-center">
      <!-- Brand name -->
      <a class="navbar-brand" href="#"> 家計簿アプリ </a>
      <!-- Links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="registItem">新規登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="myCategory">マイカテゴリ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="monthlyReport">月間レポート</a>
        </li>
      </ul>
    </div>

    <!-- Right elements -->

    <div class="d-flex align-items-center">
      <!-- アカウントボタン -->
      <mat-icon (click)="showMenu()">account_circle</mat-icon>

      <!-- Cart Dropdown Menu -->
      <div
        [class]="
          isMenuVisible
            ? 'dropdown-menu dropdown-menu-end show'
            : 'dropdown-menu dropdown-menu-end'
        "
        style="position: absolute; right: 13px; top: 60px"
        aria-labelledby="navbarDropdownMenuAvatar"
      >
        <div class="row">
          <!-- Cart Header -->
          <div class="col-8">
            <p class="fs-6 m-0 mt-2" (click)="update()">ユーザー情報</p>
          </div>
          <div class="col-4 text-end">
            <i class="fa fa-close p-2" (click)="showMenu()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Router outlet for displaying routed components -->
<router-outlet></router-outlet>
